:root{
    --main-color: hsl(273.85, 34.51%, 44.31%);
    --text-color: hsl(273.6, 100%, 75.49%);
    --secondary-color: hsl(140, 60%, 47%);
}

a {
    color: var(--secondary-color);
}

body {
    background-color: var(--main-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 1em;
    min-height: 100vh;
}

header {
    align-items: center;
    display: flex;
    flex-direction: column;
}

main {
    background-color: var(--text-color);
    color: var(--main-color);
    border: 0.141em solid black;
    border-radius: 2.282em;
    box-shadow: 10px 5px 5px hsl(273.85, 34.51%, 24.31%);
    padding: 1em;
}

nav ul {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: .5em;
    list-style: none;
    padding: 0;
}

.logo {
    padding-top: 70px;
    width: 25%;
}

.socials li {
    background-color: var(--main-color);
    border-radius: 2em;
    text-align: center;
    width: 100%;
}

.socials a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 100%;
}