:root{
    --main-color: #764a98;
    --text-color: #c882ff;
}

body {
    background-color: var(--main-color);
    color: var(--text-color);
}

.logo {
    text-align: center;
    padding-top: 70px;
    width: 25%;
}