<header id="top">
  
  {%comment%}
  <div class="wrapper">
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}

  </div>
  {%endcomment%}
  <h1><img src="/assets/img/sign-logo.png" alt="{{site.title}}. {{site.tagline}}"></h1>
  <img src="/assets/img/Goblins.png">

</header>
<nav aria-label="Main site navigation">
	<ul>
		<li class="button">
			<a href="/#">Home</a>
		</li>
		<li class="button">
			<a href="/#games">Games</a>
		</li>
		<li class="button">
			<a href="/#about">About</a>
		</li>
		{%- if site.posts.size > 0 -%}
		<li class="button">
			<a href="/blog">Blog</a>
		</li>
		{% endif %}
	</ul>
</nav>
