<nav aria-label="Main site navigation">
	<ul>
		<li class="button">
			<a href="/#">Home</a>
		</li>
		<li class="button">
			<a href="/#games">Games</a>
		</li>
		<li class="button">
			<a href="/#about">About</a>
		</li>
		{%- if site.posts.size > 0 -%}
		<li class="button">
			<a href="/blog">Blog</a>
		</li>
		{% endif %}
	</ul>
</nav>
<header id="top">
  <img src="/assets/img/sign-logo2.png" alt="{{site.title}}. {{site.tagline}}">
  <img src="{{ site.logo.src }}" alt="{{ site.logo.alt }}">
</header>
