<nav aria-label="Studio profiles on social media" class="socials">
	<ul>
		<li class="button">
			<a href="https://cookingwithgoblins.itch.io/" target="_blank" data-brand="itch">
				<svg role="img" aria-labelledby="facebookTitle" class="icon">
					<title id="facebookTitle">Itch.io</title>
					<rect x="10" y="10" width="30" height="30" stroke="black" fill="transparent" stroke-width="5"/>
					<use href="{{ '/assets/brands.svg#itch-io' | relative_url }}"></use>
				</svg>
			</a>
		</li>
		<li class="button">
			<a href="https://bsky.app/profile/cookingwithgoblins.bsky.social" target="_blank" data-brand="bluesky">
				<svg role="img" aria-labelledby="blueskyTitle" class="icon">
					<title id="blueskyTitle">Bluesky</title>
					<use href="/assets/brands.svg#bluesky"></use>
				</svg>
			</a>
		</li>
		<li class="button">
			<a href="https://www.reddit.com/user/CookingWithGoblins/" target="_blank" data-brand="reddit">
				<svg role="img" aria-labelledby="redditTitle" class="icon">
					<title id="redditTitle">Reddit</title>
					<use href="/assets/brands.svg#reddit"></use>
				</svg>
			</a>
		</li>
		<li class="button">
			<a href="https://www.facebook.com/profile.php?id=61561310722847" target="_blank" data-brand="facebook">
				<svg role="img" aria-labelledby="facebookTitle" class="icon">
					<title id="facebookTitle">Facebook</title>
					<use href="/assets/brands.svg#facebook"></use>
				</svg>
			</a>
		</li>
		<!-- Inactive<li class="button">
			<a href="https://www.tiktok.com/@cookingwithgoblins" target="_blank">
				TikTok
			</a>
		</li>-->
	</ul>
</nav>