<footer class="h-card">
  {%comment%}<data class="u-url" href="{{ "/" | relative_url }}"></data>{%endcomment%}

  <nav aria-label="Return to top of page"><a href="/#top">to top</a></nav>
{%comment%}
    <div class="footer-col footer-col-1">
      <ul class="contact-list">
        <li class="p-name">
          {%- if site.author -%}
            {{ site.author | escape }}
          {%- else -%}
            {{ site.title | escape }}
          {%- endif -%}
          </li>
          {%- if site.email -%}
          <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
          {%- endif -%}
      </ul>
    </div>
{%endcomment%}
    {%- include social.html -%}
{%comment%}
    <div class="footer-col footer-col-3">
      <p>{{- site.description | escape -}}</p>
    </div>
{%endcomment%}
    <p>CVR Number: 45418723</p>
</footer>
