<header>
  
  {%comment%}
  <div class="wrapper">
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}

  </div>
  {%endcomment%}
  <h1>{{site.title}}<br><small>{{site.tagline}}</small></h1>
  <p>A Copenhagen based game development cooperative.</p>
  <p>Welcome to the kitchen.</p>
  <img src="/assets/img/Goblins.png">

</header>
<nav>
<ul>
	<li class="button">
		<a href="/#">Home</a>
	</li>
	<li class="button">
		<a href="/#games">Games</a>
	</li>
	<li class="button">
		<a href="/#about">About</a>
	</li>
	<li class="button">
		<a href="/blog">Blog</a>
	</li>
</ul>
</nav>
