<nav class="socials">
	<ul>
		<li class="button">
			<a href="https://cookingwithgoblins.itch.io/" target="_blank" data-brand="itch">
				<svg class="icon">
					<use href="brands.svg#itch-io"></use>
				</svg>
				Itch.io
			</a>
		</li>
		<li class="button">
			<a href="https://bsky.app/profile/cookingwithgoblins.bsky.social" target="_blank" data-brand="bluesky">
				<svg class="icon">
					<use href="brands.svg#bluesky"></use>
				</svg>
				Bluesky
			</a>
		</li>
		<li class="button">
			<a href="https://www.reddit.com/user/CookingWithGoblins/" target="_blank" data-brand="reddit">
				<svg class="icon">
					<use href="brands.svg#reddit"></use>
				</svg>
				Reddit
			</a>
		</li>
		<li class="button">
			<a href="https://www.facebook.com/profile.php?id=61561310722847" target="_blank" data-brand="facebook">
				<svg class="icon">
					<use href="brands.svg#facebook"></use>
				</svg>
				Facebook
			</a>
		</li>
		<!-- Inactive<li class="button">
			<a href="https://www.tiktok.com/@cookingwithgoblins" target="_blank">
				TikTok
			</a>
		</li>-->
	</ul>
</nav>