---
layout: default
---

{%- if page.title -%}
	<h1>{{ page.title }}</h1>
{%- endif -%}

{{ content }}

{%- if site.posts.size > 0 -%}
	<h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
	<ol class="post-list">
	{%- for post in site.posts -%}
		<li>
			<article>
				{%- assign date_format = site.date_format | default: "%b %-d, %Y" -%}
				<footer class="post-meta">{{ post.date | date: date_format }}</footer>
				<h3>
				<a class="post-link" href="{{ post.url | relative_url }}">
					{{ post.title | escape }}
				</a>
				</h3>
				{%- if site.show_excerpts -%}
				<blockquote cite="{{ post.url | relative_url }}">
					{{ post.excerpt }}
				</blockquote>
				{%- endif -%}
			</article>
		</li>
	{%- endfor -%}
	</ol>

	<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
{%- endif -%}
